


<div class="bg-gray-100">


  <header class="md:hidden min-w-screen flex items-center justify-between bg-white shadow px-4 py-3 w-full">
   <a href="./index.html" class="cursor-pointer"> 

    <h1 class="text-xl font-bold text-teal-600 ">Inventory</h1>
   </a> 


    <button id="menu-btn" class="text-gray-700 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" 
           class="h-6 w-6" 
           fill="none" 
           viewBox="0 0 24 24" 
           stroke="currentColor">
        <path stroke-linecap="round" 
              stroke-linejoin="round" 
              stroke-width="2" 
              d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>
  </header>





  <aside id="sidebar"
    class="  top-0 left-0 min-h-screen w-64 bg-white shadow-md p-6 
           transform -translate-x-full md:translate-x-0 
           transition-transform duration-300 ease-in-out z-50">


    <a href="/frontend/index.html" class="hidden md:block text-2xl font-bold text-teal-600 mb-8 cursor-pointer z-80 ">
      Inventory
    </a>


    <nav class="space-y-3 text-gray-600">
      <a href="/frontend/src/pages/Dashboard.html" class="block px-4 py-2 rounded-lg text-teal-700 font-medium sidebar-link">
        Dashboard
      </a>
      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        Add Products
      </a>
      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        Add Categories
      </a>
      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        Products
      </a>
      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        Sales
      </a>
      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        Purchase
      </a>

      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        Warehouse
      </a>
      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        User Management
      </a>
      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        Add Roles
      </a>
      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        Suppliers
      </a>
      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 sidebar-link">
        Customers
      </a>
    </nav>


  </aside>


</div>


